{
    "compressionType": "NONE",
    "consistencyLevel": {
        "metadataR": [
            "QUORUM"
        ],
        "metadataW": [
            "QUORUM"
        ],
        "read": [
            "QUORUM"
        ],
        "readEC": [
            "QUORUM"
        ],
        "write": [
            "QUORUM"
        ],
        "writeEC": [
            "QUORUM"
        ],
        "writeNew": []
    },
    "defaultProtectionScheme": "HSFS",
    "ecscheme": null,
    "elasticsearchEnabled": false,
    "encryptionEnabled": false,
    "encryptionType": "NONE",
    "groups": [],
    "policyDescription": "Replication Factor {{ [ item.value.rf, 6 ] | min }} QUORUM",
    "policyId": "",
    "policyName": "{{ item.key }}",
    "region": "{{ cluster.region }}",
    "replicationScheme": {
        "DC1": "{{ [ item.value.rf, 6 ] | min }}"
    },
    "sizeThreshold": 0,
    "status": "ACTIVE",
    "systemDefault": {{ item.value.default | default('False') }}
}
