{
  "active": "true",
  "groupId": "{{ item }}",
  "groupName": "{{ item }}",
  "ldapEnabled": false,
  "ldapGroup": "",
  "ldapMatchAttribute": "",
  "ldapSearch": "",
  "ldapSearchUserBase": "",
  "ldapServerURL": "",
  "ldapUserDNTemplate": ""
}
