{% for data in s3_keys.results %}
  {% set user = data.item.key %}
  {% set accessKey = data.json.0.accessKey %}
  {% set secretKey = data.json.0.secretKey %}

[{{ user }}]
aws_access_key_id = {{ accessKey }}
aws_secret_access_key = {{ secretKey }}

{% endfor %}
