{
  "active": "true",
  "address1": "",
  "address2": "",
  "city": "",
  "country": "",
  "emailAddr": "",
  "fullName": "{{ item.value.fullname }}",
  "groupId": "{{ item.value.group }}",
  "ldapEnabled": false,
  "phone": "",
  "state": "",
  "userId": "{{ item.key }}",
  "userType": "{{ item.value.type }}",
  "website": "",
  "zip": ""
}
